.content {
  max-width: 1400px;
  width: 95%;
  margin: auto;
  padding-top: 43px;
  padding-bottom: 120px;
}

.content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.content__top-text {
  font-size: 30px;
  color: #48494a;
  font-family: "Gotham Pro Bold";
}

.content__top-button {
  background-color: #e43030;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 27px;
  transition: all 0.25s ease-in-out;
}

.content__top-button:hover {
  box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
  -webkit-box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
  -moz-box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
}

.content__top-button:active {
  transform: scale(1.1);
}

.content__gallery {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.content__gallery-left {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.content__gallery-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 49%;
  max-width: 335px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  -moz-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
}

.top-card {
  height: 242px;
  padding: 10px 21px 0 21px;
  background-image: url(../img/card-img.png);
  position: relative;
  font-family: "Gotham Pro Bold";
}

.top-card__label {
  display: inline-block;
  height: 23px;
  padding: 0 8px;
  background-color: #ffc600;
  color: #48494a;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 23px;
  position: relative;
}

.top-card__label::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #ffc600;
  border-right: 6px solid transparent;
  position: absolute;
  left: 0;
  top: 23px;
}

.top-card__fav-icon {
  height: 20px;
  width: 20px;
}

.top-card__fav {
  height: 25px;
  width: 25px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.top-card__company-name {
  position: absolute;
  bottom: 0;
  padding-bottom: 13px;
}

.top-card__company-name {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.bottom-card {
  padding: 10px 20px;
}

.address {
  font-size: 14px;
  color: #48494a;
}

.bottom-card__icon-metro {
  height: 20px;
  width: 20px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.bottom-card__address {
  margin-bottom: 10px;
  line-height: 28px;
}

.price {
  display: inline;
  background-color: #fffbd7;
  font-size: 18px;
  padding: 5px;
}

.price-text {
  display: inline;
  color: #48494a;
}

.address__price-text {
  margin-left: 3px;
}

.bottom-card__price {
  display: flex;
}

.bold-text {
  font-family: "Gotham Pro Bold";
}

@media (max-width: 768px) {
  .content__top {
    display: flex;
    flex-direction: column;
  }
  .content__top-text {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .content__gallery-left,
  .content__gallery-right {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 1160px) {
  .content__gallery {
    flex-direction: column;
  }

  .content__gallery-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .content__gallery-right {
    width: 100%;
  }
}

@media (max-width: 767px) {
}
