/* Font */
@font-face {
  font-family: "Gotham Pro";
  src: url("GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"),
    url("./../fonts/GothamPro-Bold.eot") format("embedded-opentype"),
    url("./../fonts/GothamPro.woff") format("woff"),
    url("./../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url("GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"),
    url("/./fonts/GothamPro-Bold.eot.eot") format("embedded-opentype"),
    url("/./fonts/GothamPro-Bold.woff") format("woff"),
    url("/./fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro";
  background-color: #f0f0f0;
  min-width: 1400px;
}

.wrapper {
  background-color: #fff;
}

.header {
  min-width: 1400px;
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 55px;
}

.header__menu {
  margin: 25px 0 30px 0;
}

.menu-list {
  display: flex;
  font-family: "Gotham Pro Bold";
  font-size: 14px;
  text-transform: uppercase;
}

.menu-item {
  list-style: none;
  margin-left: 40px;
}

.menu-item__link {
  color: #48494a;
  text-decoration: none;
}

.menu-item:first-child {
  margin-left: 0;
}

.content {
  width: 1400px;
  min-width: 1400px;
  margin: auto;
  padding-top: 43px;
  padding-bottom: 120px;
}

.content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.content__top-text {
  font-size: 30px;
  color: #48494a;
  font-family: "Gotham Pro Bold";
}

.content__top-button {
  background-color: #e43030;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 25px;
  box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
  -webkit-box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
  -moz-box-shadow: 0px 13px 22.08px 1.92px rgba(250, 25, 25, 0.45);
}

.content__gallery {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 335px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  -moz-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
}

.top-card {
  height: 242px;
  padding: 10px 21px 0 21px;
  background-image: url(/./img/card-img.png);
  position: relative;
  font-family: "Gotham Pro Bold";
}

.top-card__label {
  display: inline-block;
  height: 23px;
  padding: 0 8px;
  background-color: #ffc600;
  color: #48494a;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 23px;
  position: relative;
}

.top-card__label::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #ffc600;
  border-right: 6px solid transparent;
  position: absolute;
  left: 0;
  top: 23px;
}

.top-card__fav {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  float: right;
}

.top-card__company-name {
  position: absolute;
  bottom: 0;
  padding-bottom: 13px;
}

.top-card__company-name {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.bottom-card {
  padding: 18px 24px;
  height: 98px;
}

.address {
  font-size: 14px;
  color: #48494a;
}

.address__icon {
  position: absolute;
  margin-left: 5px;
}

.bottom-card__address {
  margin-bottom: 18px;
  line-height: 28px;
}

.price {
  display: inline;
  background-color: #fffbd7;
  font-size: 18px;
  padding: 5px;
}

.price-text {
  display: inline;
  color: #48494a;
}

.address__price-text {
  margin-left: 3px;
}

.address__price {
  text-transform: uppercase;
}

.bottom-card__price {
  display: flex;
}

.bold-text {
  font-family: "Gotham Pro Bold";
}

.footer {
  width: 1400px;
  min-width: 1400px;
  margin: auto;
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;
}

.social__text {
  font-size: 16px;
  color: #80868e;
  font-family: "Gotham Pro Bold";
  margin-bottom: 15px;
}

.social__link {
  margin-right: 25px;
}

.info {
  display: flex;
  align-items: center;
}

.info__text {
  color: #80868e;
  font-size: 12px;
}

.info__img {
  height: 35px;
}

.bold-text-footer {
  color: #000;
}

.info__img-foter {
  margin-right: 10px;
}
