/* Font */
@font-face {
  font-family: "Gotham Pro";
  src: url("GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"),
    url("/fonts/GothamPro.eot") format("embedded-opentype"),
    url("/fonts/GothamPro.woff") format("woff"),
    url("/fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url("GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"),
    url("/fonts/GothamPro-Bold.eot.eot") format("embedded-opentype"),
    url("/fonts/GothamPro-Bold.woff") format("woff"),
    url("/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Pro";
}

.card {
  width: 335px;
  -webkit-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  -moz-box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
  box-shadow: 0px 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
}

.top-card {
  height: 242px;
  padding: 10px 21px 0 21px;
  background-image: url(/img/card-img.png);
  position: relative;
  font-family: "Gotham Pro Bold";
}

.top-card__label {
  display: inline-block;
  height: 23px;
  padding: 0 8px;
  background-color: #ffc600;
  color: #48494a;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 23px;
  position: relative;
}

.top-card__label::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #ffc600;
  border-right: 6px solid transparent;
  position: absolute;
  left: 0;
  top: 23px;
}

.top-card__company-name {
  position: absolute;
  bottom: 0;
  padding-bottom: 13px;
}

.top-card__company-name {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.bottom-card {
  padding: 18px 0 24px 21px;
}

.address {
  font-size: 14px;
  color: #48494a;
}

.bottom-card__address {
  margin-bottom: 16px;
}

.price {
  display: inline;
  background-color: #fffbd7;
  font-size: 18px;
  padding: 5px 17px 5px 5px;
}

.price-text {
  display: inline;
  color: #48494a;
}

.bold-text {
  font-family: "Gotham Pro Bold";
}
